/* Layout / Globals */

html, body {
  box-sizing: border-box;
  margin: 0;
  background-color:rgb(24, 24, 24);
  background-color: #181818;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2.5fr 1fr;
  grid-template-areas:
  'header header'
  'main aside'
}

/* Header */

header {
  position: fixed;
  width: 100%;
  font-size: 48px;
  grid-area: header;
  background-color: #202020;
  padding: 7px;
}

.main-logo {
  width: 80px;
}

/* Main Container */

main {
  margin-left: 5em;
  margin-top: 8em;
  grid-area: main;
  display: flex;
  flex-direction: column;
}

/* Aside Container */

aside {
  margin-left: 1.5em;
  margin-right: 5em;
  margin-top: 8em;
  grid-area: aside;
  background-color: darkseagreen;
}

/* Typography / fonts */

html {
  color: white;
  font-family: Roboto, Arial, sans-serif;
}
